# This file specifies files that are *not* uploaded to Google Cloud Platform
#

.gcloudignore
.git
.gitignore

.vscode/
/airspaces

/common
/docs
/ds
/run
/tracks
/scripts

/frontend/src
/frontend/static/js/chunks/dev
/frontend/scripts

/app/src/

test/
# /node_modules is required for external modules
node_modules